{% extends 'blog/base.html' %}

{% block content %}
    <h2>New/edit post</h2>
    <form method="POST" class="post-form">
        {% csrf_token %}
        {% comment %} {{ form.as_p }} {% endcomment %}
        {{ form.as_p }}
        {% comment %} {% for field in form %}
            <div class="fieldWrapper">
                {{ field.errors }}~
                {{ field.label_tag }} {{ field }}
                {% if field.help_text %}
                <p class="help" id="{{ field.auto_id }}_helptext">
                    {{ field.help_text|safe }}
                </p>
                {% endif %}
            </div>
        {% endfor %} {% endcomment %}
        {% comment %} {{ form.errors }} {% endcomment %}

        {% if user.is_authenticated %}
            {% comment %} {% for field in form %}
                <p>
                    {{ field.label_tag }}
                    {{ field }}
                    {% if field.errors %}
                        <span class="error">{{ field.errors|join:", " }}</span>
                    {% endif %}
                </p>
            {% endfor %} {% endcomment %}

            <button type="submit" class="save btn btn-secondary" name="save">Save</button>
            <button type="submit" class="save btn btn-secondary" name="publish">Publish</button>
        {% endif %}
    </form>
{% endblock %}